.carré1{
  background-color:#DA9693;

  width: 100px;
   height: 100px;
   position:  absolute;
   border: 2px solid blue;
   display: block;
}
.carré2{
  background-color:#528CD8 ;
  width: 100px;
   height: 100px;
   position:  absolute;

   border: 2px solid blue;
   display: block;
   margin-left: 108px
}
.carré3{
  background-color: #C4BE95;
  width: 100px;
   height: 100px;
   position: absolute;

   border: 2px solid blue;
   display: block;
   margin-top: 108px
}
