.carré1{
  background-color:#DA9693;

  width: 100px;
   height: 100px;
   position:  relative;
   border: 2px solid blue;
   display: block;
}
.carré2{
  background-color: #C4BE95;
  width: 100px;
   height: 100px;
   position:  relative;

   border: 2px solid blue;
   display: block;
   margin-top: 4px;

}
.carré3{
  background-color: #528CD8 ;
  width: 100px;
   height: 100px;
   position: relative;

   border: 2px solid blue;
   display: block;
   margin-top: 4px;

}
